    <!-- Main Navbar -->
    <div class="container">
        <div class="jumbotron">
            <nav class="navbar navbar-default navbar-primary" role="navigation">
                <div class="container">
                    <ul class="nav navbar-nav">
                        <li><a href="http://ts-mc.net">HOME</a>
                        </li>
                        <li class="active"><a href="http://shop.ts-mc.net/">SHOP</a>
                        </li>
{% for category in categories %}
                    {% if category.active == 1 %}
                        {% if category.parentcategory == None %}
                            {% if category.subcategories.all %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ category }} <b class="caret"></b></a>
                                    <ul class="dropdown-menu" role="menu">
                                        {% if category.displaysub == False %}<li><a href="/category/{{ category.id }}/">{{ category }}</a></li>{% endif %}
                                        {% for sub in categories %}
                                            {% if sub.parentcategory.id == category.id %}
                                        <li><a href="/category/{{ sub.id }}/">{{ sub }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% else %}
                                <li><a href="/category/{{ category.id }}">{{ category }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                    </ul>
                </div>
            </nav>


            <!-- Secondary Navbar -->

            <div class="container">
                <div class="row navbar-secondary">
                    <div class="navbar-secondary-text-container">
                    </div>
                </div>
            </div>